@charset "utf-8";

.cell {
	display:block;
}

.cell span {
	display:inline-block;
	position:relative;
	top:50%;
	width:100%;
}

.cell span span {
	top:-50%;
}

.gallery .small li {
	display:inline;
	margin:0 10px 10px 10px;
}

.pagination ul li,
.catalog .catalog-item {
	display:inline;
}

.form input[type="text"],
.form input[type="password"],
.form textarea {
	width:164px;
}

.auth input[type="text"],
.auth input[type="password"] {
	width:121px;
}
